# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Local user config & database
# notes.db
preferences.json

# PyInstaller builds
dist/
build/
*.spec

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
